header {
  padding: 30px 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(48, 48, 48);
  position: relative;
}

#header-container {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#first-col-header {
  display: flex;
  gap: 30px;
  align-items: center;
}

#first-col-header img {
  height: 20px;
}

#first-col-header span {
  width: auto;
  height: 40px;
  display: inline-flex;
  background: white;
}

#first-col-header span div {
  width: 25px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 20px;
}

#first-col-header span div i {
  font-size: 12px;
  opacity: 0.7;
  color: black;
}

#first-col-header span input {
  width: 550px;
  height: 100%;
  padding: 0 10px 0 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

#second-col-header {
  display: flex;
  list-style: none;
  column-gap: 20px;
}

#second-col-header li {
  display: flex;
  gap: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  border-radius: 5px;
}

#second-col-header li:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

#second-col-header li i {
  font-size: 18px;
  color: white;
}

#second-col-header li p {
  color: white;
  font-size: 14px;
}

#second-row {
  width: 100%;
  height: auto;
}

#header-items-container {
  display: flex;
  list-style: none;
  gap: 20px;
}

#header-items-container .header-item {
  padding: 10px 5px;
  color: white;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

#header-items-container .header-item:hover {
  border-bottom: 2px solid white;
}

.header-item-title {
  display: flex;
  cursor: pointer;
  gap: 10px;
}

.header-item-hover {
  position: absolute;
  z-index: 10;
  top: 100%;
  background-color: white;
  width: 100vw;
  left: 0;
  padding: 30px 50px 50px;
  border-top: 1px solid black;
  color: black;
  display: none;
  flex-wrap: wrap;
  justify-content: start;
  row-gap: 50px;
  max-height: 60vh;
  overflow-y: scroll;
}

#second-row ul li:hover .header-item-hover {
  display: flex;
}

.header-item-list {
  list-style: none;
  color: black;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
}

.header-item-list li {
  color: black;
  font-size: 14px;
}

.header-item-list li:nth-child(1) {
  padding: 0 0 10px 0;
  margin: 0 0 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-weight: 500;
  font-size: 18px;
}

.header-item-with-image {
  width: 250px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 30px;
}

.header-item-with-image img {
  width: 100%;
}
