.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

.product-container #product-container-col1 {
  flex: 1.5;
  display: flex;
  align-items: center;
}

.product-container #product-container-col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

#product-view-title-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}

#product-view-title {
  font-size: 34px;
}

#product-view-title-wrapper button {
  border: none;
  outline: none;
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#product-view-title-wrapper button i {
  color: white;
  font-size: 20px;
}

#product-view-img-src {
  width: 100%;
}

#product-view-descp {
  font-size: 14px;
  color: #d6d6d6;
}

#product-view-price {
  font-size: 24px;
}

.product-view-choices {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-view-choices-title {
  text-transform: capitalize;
}

.product-view-choices-options-wrapper {
  display: flex;
  gap: 15px;
}

.product-view-choices-option {
  list-style: none;
}

.product-view-choices-option label {
  display: flex;
  gap: 5px;
  text-transform: capitalize;
}

#add-to-cart {
  width: fit-content;
  padding: 10px 20px;
  background: #7667ff;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

#add-to-cart i {
  width: 20px;
}

#add-to-cart:hover {
  background: #8478f7;
}

#product-view-table-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.specs-table {
  border-collapse: collapse;
  margin: 0 0 30px 0;
}

.specs-table tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.specs-table td {
  padding: 14px;
  vertical-align: top;
}

.spec-name {
  width: 250px;
  color: #bdbdbd;
  font-size: 14px;
}

.spec-value {
  color: white;
  font-size: 14px;
}

.add-red {
  color: red !important;
}
