.main-content-layout {
  display: flex;
  width: 100%;
}

.profile {
  margin: 16px;
  border-radius: 16px;
  background: #0f1322;
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1;
}

hr.solid {
  border-top: 3px solid #bbb;
}
