.main-content-layout {
  flex: 1;
  display: flex;
  width: 100%;
}

.wishlist {
  flex: 1;
  width: 100%;
  min-height: 590px;
  margin: 16px 16px 16px 0;
  padding: 20px;
  background: #0f1322;
  border-radius: 16px;
  box-sizing: border-box;
}

.wishlist h1 {
  margin: 0;
  text-align: center;
}

hr.solid {
  border-top: 3px solid #bbb;
}
