<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
 
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
 
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/header.css" />
    <link rel="stylesheet" href="../static/css/carousel.css" />
    <link rel="stylesheet" href="../static/css/footer.css" />
  </head>
  <body>
    <header>
      <div id="header-container">
        <div id="first-row">
          <div id="first-col-header">
            <img src="../static/images/pb-logo-alt.svg" alt="" />
            <span>
              <div>
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
              <input type="text" placeholder="Search..." />
            </span>
          </div>
 
          <ul id="second-col-header">
            <li>
              <i class="fa fa-bell" aria-hidden="true"></i>
            </li>
 
            <li>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              <p>Cart</p>
            </li>
 
            <li>
              <i class="fa fa-heart" aria-hidden="true"></i>
              <p>Wishlist</p>
            </li>
 
            <li>
              <i class="fa fa-user" aria-hidden="true"></i>
              <p>Register</p>
            </li>
          </ul>
        </div>
 
        <div id="second-row">
          <ul id="header-items-container">
            <li class="header-item">
              <p class="header-item-title">
                Gaming PCs <i class="fa fa-angle-down" aria-hidden="true"></i>
              </p>
 
              <div class="header-item-hover">
                <ul class="header-item-list">
                  <li>Ready to Ships PCs</li>
                  <li>Core Series Gaming PCs</li>
                  <li>Ultra Series Gaming PCs</li>
                  <li>Zen Series Gaming PCs</li>
                  <li>Ark Series Gaming PCs</li>
                </ul>
 
                <div class="header-item-with-image">
                  <p>Core Gaming PCs</p>
                  <img
                    src="../static/images/core-series-gaming.webp"
                    alt="Core Series Gaming PC"
                  />
                </div>
 
                <div class="header-item-with-image">
                  <p>Ultra Gaming PCs</p>
                  <img
                    src="../static/images/ultra-series-gaming.webp"
                    alt="Ultra Series Gaming PC"
                  />
                </div>
 
                <div class="header-item-with-image">
                  <p>Zen Gaming PCs</p>
                  <img
                    src="../static/images/zen-series-gaming.webp"
                    alt="Zen Series Gaming PC"
                  />
                </div>
 
                <div class="header-item-with-image">
                  <p>Ark Gaming PCs</p>
                  <img
                    src="../static/images/ark-series-gaming.webp"
                    alt="Ark Series Gaming PC"
                  />
                </div>
              </div>
            </li>
 
            <li class="header-item">
              <p class="header-item-title">
                Laptops <i class="fa fa-angle-down" aria-hidden="true"></i>
              </p>
 
              <div class="header-item-hover">
                <ul class="header-item-list">
                  <li>By Series</li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', 'business'])}}"
                      >Business</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', 'gaming'])}}"
                      >Gaming</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', 'mobile workstations'])}}"
                      >Mobile Workstations</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', 'home & study'])}}"
                      >Home & Study</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', '2 in 1/Flip'])}}"
                      >2 in 1/Flip</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', 'Thin & Light'])}}"
                      >Thin & Light</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', 'Copilot+'])}}"
                      >Copilot+</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', 'Chromebooks'])}}"
                      >Chromebooks</a
                    >
                  </li>
                </ul>
 
                <ul class="header-item-list">
                  <li>By Brand</li>
                  <li>
                    <a href="{{ url_for('products', tags=['laptop', 'asus'])}}"
                      >ASUS</a
                    >
                  </li>
                  <li>
                    <a href="{{ url_for('products', tags=['laptop', 'msi'])}}"
                      >MSI</a
                    >
                  </li>
                  <li>
                    <a href="{{ url_for('products', tags=['laptop', 'hp'])}}"
                      >HP</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', 'gigabyte'])}}"
                      >Gigabyte</a
                    >
                  </li>
                  <li>
                    <a
                      href="{{ url_for('products', tags=['laptop', 'lenovo'])}}"
                      >Lenovo</a
                    >
                  </li>
                  <li>
                    <a href="{{ url_for('products', tags=['laptop', 'dell'])}}"
                      >Dell</a
                    >
                  </li>
                  <li>
                    <a href="{{ url_for('products', tags=['laptop', 'acer'])}}"
                      >Acer</a
                    >
                  </li>
                </ul>
 
                <div class="header-item-with-image">
                  <p>HP ZBook Power G11</p>
                  <img src="../static/images/HP-ZBook-Power-G11.webp" alt="" />
                </div>
 
                <div class="header-item-with-image">
                  <p>MSI Gaming Laptops</p>
                  <img src="../static/images/MSI-gaming-laptops.webp" alt="" />
                </div>
 
                <div class="header-item-with-image">
                  <p>HP EliteBooks</p>
                  <img src="../static/images/hp-elitebook.webp" alt="" />
                </div>
              </div>
            </li>
 
            <li class="header-item">
              <p class="header-item-title">
                PC Components
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </p>
 
              <div class="header-item-hover">
                <ul class="header-item-list">
                  <li><a href="{{url_for('products', tags=['graphics cards'])}}">Graphics Cards</a></li>
                  <li><a href="{{url_for('products', tags=['graphics cards', 'nvidia'])}}">Nvidia Geforce Graphics Card</a></li>
                  <li><a href="{{url_for('products', tags=['graphics cards', 'amd'])}}">AMD Radeon Graphics Card</a></li>
                  <li><a href="{{url_for('products', tags=['graphics cards', 'workstation'])}}">Workstation Graphics Card</a></li>
                </ul>
 
                <ul class="header-item-list">
                  <li><a href="{{url_for('products', tags=['cpu'])}}">CPUs/Processors</a></li>
                  <li><a href="{{url_for('products', tags=['cpu', 'amd'])}}">AMD CPUs/Processors</a></li>
                  <li><a href="{{url_for('products', tags=['cpu', 'intel'])}}">Intel CPUs/Processors</a></li>
                  <li><a href="{{url_for('products', tags=['cpu', 'server'])}}">Server CPUs/Processors</a></li>
                </ul>
 
                <ul class="header-item-list">
                  <li><a href="{{url_for('products', tags=['motherboard'])}}">Motherboards</a></li>
                  <li><a href="{{url_for('products', tags=['motherboard', 'amd'])}}">AMD Motherboards</a></li>
                  <li><a href="{{url_for('products', tags=['motherboard', 'intel'])}}">Intel Motherboards</a></li>
                  <li><a href="{{url_for('products', tags=['motherboard', 'server'])}}">Server Motherboards</a></li>
                  <li><a href="{{url_for('products', tags=['motherboard', 'workstation'])}}">Workstation Motherboards</a></li>
                </ul>
 
                <ul class="header-item-list">
                  <li><a href="{{url_for('products', tags=['cases'])}}">Cases</a></li>
                  <li><a href="{{url_for('products', tags=['cases', 'pc'])}}">PC Cases</a></li>
                  <li><a href="{{url_for('products', tags=['cases', 'server'])}}">Server Cases</a></li>
                </ul>
 
                <ul class="header-item-list">
                  <li><a href="{{url_for('products', or_tags=['memory', 'ram'])}}">Memory/RAM</a></li>
                  <li><a href="{{url_for('products', tags=['desktop'], or_tags=['memory', 'ram'])}}">Desktop Memory</a></li>
                  <li><a href="{{url_for('products', tags=['laptop'], or_tags=['memory', 'ram'])}}">Laptop Memory</a></li>
                  <li><a href="{{url_for('products', tags=['server'], or_tags=['memory', 'ram'])}}">Server Memory</a></li>
                </ul>
 
                <ul class="header-item-list">
                  <li><a href="{{url_for('products', or_tags=['power supplies', 'psu'])}}">Power Supplies/PSU</a></li>
                  <li><a href="{{url_for('products', tags=['sleeved cables'], or_tags=['power supplies', 'psu'])}}">Sleeved Cables</a></li>
                </ul>
 
                <ul class="header-item-list">
                  <li><a href="{{url_for('products', or_tags=['cooler, cooling'])}}">Cooling</a></li>
                  <li><a href="{{url_for('products', tags=['cpu air'], or_tags=['cooler', 'cooling'])}}">CPU Air Coolers</a></li>
                  <li><a href="{{url_for('products', tags=['cpu aio'], or_tags=['cooler', 'cooling'])}}">CPU AIO Watercoolers</a></li>
                  <li><a href="{{url_for('products', tags=['custom'], or_tags=['cooler', 'cooling'])}}">Custom Watercooling</a></li>
                  <li><a href="{{url_for('products', tags=['thermal compound'], or_tags=['cooler', 'cooling'])}}">Thermal Compund</a></li>
                  <li><a href="{{url_for('products', tags=['fans'], or_tags=['cooler', 'cooling'])}}">Case Fans</a></li>
                </ul>
 
                <ul class="header-item-list">
                  <li><a href="{{url_for('products', tags=['storage'])}}">Storage</</li>
                  <li><a href="{{url_for('products', tags=['storage'], or_tags=['ssd', 'solid state drive'])}}">Solid State Drives</a></li>
                  <li><a href="{{url_for('products', tags=['storage'], or_tags=['hd', 'hard drive'])}}">Hard Drives</a></li>
                  <li><a href="{{url_for('products', tags=['storage', 'optical drive'])}}">Optical Drives</a></li>
                </ul>
              </div>
            </li>
 
            <li class="header-item">
              <p class="header-item-title">
                Peripherals <i class="fa fa-angle-down" aria-hidden="true"></i>
              </p>
 
              <div class="header-item-hover">
                <ul class="header-item-list">
                  <li>Monitors</li>
                  <li>Gaming</li>
                  <li>Home & Office</li>
                  <li>Professional</li>
                  <li>Arms & Stands</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Mice</li>
                  <li>Gaming</li>
                  <li>Office & Workflow</li>
                  <li>Mouse Pads</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Keyboards</li>
                  <li>Gaming</li>
                  <li>Home & Office</li>
                  <li>Mechanical Keyboards</li>
                  <li>DIY Parts & accessories</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Simulator & Controllers</li>
                  <li>Racing Controls</li>
                  <li>Flight Controls</li>
                  <li>Cockpits & Stands</li>
                  <li>Motion & Haptic</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Audio & Streaming</li>
                  <li>Gaming Headsets</li>
                  <li>Microphones</li>
                  <li>Webcams</li>
                  <li>Conference Cams</li>
                  <li>Streaming Cams</li>
                  <li>Gaming Speakers</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>External Storage</li>
                  <li>Hard Drive & SSDs</li>
                  <li>Flash Drives</li>
                  <li>Memory Cards</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Netwokings</li>
                  <li>Routers</li>
                  <li>Switches</li>
                  <li>NAS</li>
                  <li>Adapters & Access Points</li>
                  <li>Security Cameras & Softwares</li>
                  <li>Cables & Accessories</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Furniture</li>
                  <li>Gaming Chairs</li>
                  <li>Home & Office Chairs</li>
                  <li>Desks</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Power & Lighting</li>
                  <li>Cable & Adaptors</li>
                  <li>Power Banks & Charging</li>
                  <li>Surge Protectors</li>
                  <li>Smart/LED Lighting</li>
                  <li>UPS</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Printers</li>
                  <li>Inkjet Printers</li>
                  <li>Laser Printers</li>
                  <li>Ink & Toner</li>
                </ul>
              </div>
            </li>
 
            <li class="header-item">
              <p class="header-item-title">
                Audio <i class="fa fa-angle-down" aria-hidden="true"></i>
              </p>
 
              <div class="header-item-hover">
                <ul class="header-item-list">
                  <li>Headphones</li>
                  <li>In-Ear Monitors (IEMs)</li>
                  <li>True Wireless & Bluetooth</li>
                  <li>AudioPhile</li>
                  <li>Gaming Headsets</li>
                  <li>Office Headsets</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Interfaces</li>
                  <li>Headphones Amplifiers</li>
                  <li>Speaker Amplifiers</li>
                  <li>Sound Cards</li>
                  <li>Recording Interfaces</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Audio Devices</li>
                  <li>Digital Audio Players (DAPs)</li>
                  <li>Receivers</li>
                  <li>Turntables</li>
                  <li>Streaming</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Microphones</li>
                  <li>Wired Microphones</li>
                  <li>Wireless Microphones</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Speakers & Subwoofers</li>
                  <li>Subwoofers</li>
                  <li>Soundbards</li>
                  <li>Speaker Systems</li>
                  <li>Portable</li>
                  <li>Studio Monitors</li>
                </ul>
 
                <ul class="header-item-list">
                  <li>Accessories</li>
                  <li>Cables & Adaptors</li>
                  <li>Headphones & Earphones Accessories</li>
                  <li>Speaker Accessories</li>
                </ul>
              </div>
            </li>
 
            <li class="header-item">New Arrival</li>
 
            <li class="header-item">Specials</li>
          </ul>
        </div>
      </div>
    </header>
 
    <section id="carousel-wrapper">
      <div id="carousel-container">
        {% for item in in_banner_products %}
        <div
          class="carousel-item"
          style="background-image: url({{item.img_sources[0]}});"
        >
          <div class="carousel-item-content-container">
            <p class="carousel-eyebrow-text">{{ item.main_category }}</p>
            <p class="carousel-title">{{ item.title }}</p>
            <p class="carousel-description">{{ item.description }}</p>
            <button class="carousel-shop">Shop Now</button>
          </div>
        </div>
        {% endfor %}
      </div>
 
      <ul class="carousel-indicators">
        {% for item in in_banner_products %}
        <li></li>
        {% endfor %}
      </ul>
    </section>
 
    <main>
      {% for section in display_sections.values() %}
      <section class="products-section">
        <p class="products-section-title">{{ section.title}}</p>
 
        <div class="products-section-items-wrapper">
          <div class="product-section-items-container">
            {% for item in section.products %}
            <div class="product-section-item">
              <img
                src="{{ item.img_sources[0] }}"
                alt=""
                class="product-section-img"
              />
              <p class="product-section-item-title">{{ item.title }}</p>
              <ul class="product-section-item-tags">
                {% for tag in item.tags %}
                <li>
                  <button>{{ tag }}</button>
                </li>
                {% endfor %}
              </ul>
              <div class="product-section-item-availabilty">
                {% if item.availability %}
                <i class="fa fa-check" aria-hidden="true"></i>
                <p>In Stock</p>
                {% else %}
                <i
                  class="fa fa-times"
                  style="color: red"
                  aria-hidden="true"
                ></i>
                <p style="color: red">Out of Stock</p>
                {% endif %}
              </div>
              <p class="product-section-item-price">${{ item.price }}</p>
            </div>
            {% endfor %}
          </div>
 
          <div class="products-section-slider">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
 
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
        </div>
      </section>
      {% endfor %}
    </main>
 
    <footer>
      <div id="footer-row-1">
        <section id="footer-col-1" style="flex: 1.5">
          <img src="../static/images/pb-logo-alt.svg" alt="" />
 
          <p>
            Providing Kiwis with state-of-the-art gaming and workstation PCs.
          </p>
 
          <ul id="footer-social-media-links">
            <li>
              <a href="#" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a>
            </li>
 
            <li>
              <a href="#" target="_blank">
                <i class="fa fa-youtube-play" aria-hidden="true"></i>
              </a>
            </li>
 
            <li>
              <a href="#" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
 
            <li>
              <a href="#" target="_blank">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </section>
        <ul id="footer-col-2">
          <li>Help</li>
          <li>Contact Us</li>
          <li>Return & Warranties</li>
          <li>Delivery</li>
          <li>FInances</li>
          <li>Price Match</li>
        </ul>
        <ul id="footer-col-3">
          <li>Company</li>
          <li>About Us</li>
          <li>Gift Card</li>
          <li>Careers</li>
        </ul>
        <section id="footer-col-4" style="flex: 1.5">
          <p>Newsletter</p>
          <p>Sign up for exclusive offers original stories, events and more.</p>
          <span id="footer-email-wrapper">
            <input type="email" placeholder="Enter you email" />
            <button>
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </span>
        </section>
      </div>
 
      <div id="footer-row-2">
        <p>&copy; 2026 All rights reserved.</p>
      </div>
    </footer>
  </body>
  <script src="../static/js/carousel.js"></script>
  <script src="../static/js/product-section.js"></script>
</html>
