<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body>
    <header>
      <div id="first-row">
        <div id="first-col-header">
          <img src="../static/images/pb-logo-alt.svg" alt="" />
          <span>
            <div>
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <input type="text" placeholder="Search..." />
          </span>
        </div>

        <ul id="second-col-header">
          <li>
            <i class="fa fa-bell" aria-hidden="true"></i>
          </li>

          <li>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <p>Cart</p>
          </li>

          <li>
            <i class="fa fa-heart" aria-hidden="true"></i>
            <p>Wishlist</p>
          </li>

          <li>
            <i class="fa fa-user" aria-hidden="true"></i>
            <p>Register</p>
          </li>
        </ul>
      </div>

      <div id="second-row">
        <ul id="header-items-container">
          <li class="header-item">
            Gaming PCs
            <div class="header-item-hover">
              <ul class="header-item-list">
                <li>Ready to Ships PCs</li>
                <li>Core Series Gaming PCs</li>
                <li>Ultra Series Gaming PCs</li>
                <li>Zen Series Gaming PCs</li>
                <li>Ark Series Gaming PCs</li>
              </ul>

              <div class="header-item-with-image">
                <p>Core Gaming PCs</p>
                <img
                  src="../static/images/core-series-gaming.webp"
                  alt="Core Series Gaming PC"
                />
              </div>

              <div class="header-item-with-image">
                <p>Ultra Gaming PCs</p>
                <img
                  src="../static/images/ultra-series-gaming.webp"
                  alt="Ultra Series Gaming PC"
                />
              </div>

              <div class="header-item-with-image">
                <p>Zen Gaming PCs</p>
                <img
                  src="../static/images/zen-series-gaming.webp"
                  alt="Zen Series Gaming PC"
                />
              </div>

              <div class="header-item-with-image">
                <p>Ark Gaming PCs</p>
                <img
                  src="../static/images/ark-series-gaming.webp"
                  alt="Ark Series Gaming PC"
                />
              </div>
            </div>
          </li>

          <li class="header-item">
            Laptops

            <div class="header-item-hover">
              <ul class="header-item-list">
                <li>By Series</li>
                <li>Business</li>
                <li>Gaming</li>
                <li>Mobile Workstations</li>
                <li>Home & Study</li>
                <li>2 in 1/Flip</li>
                <li>Thin & Light</li>
                <li>Copilot+</li>
                <li>Chromebooks</li>
              </ul>

              <ul class="header-item-list">
                <li>By Brand</li>
                <li>ASUS</li>
                <li>MSI</li>
                <li>HP</li>
                <li>Gigabyte</li>
                <li>Lenovo</li>
                <li>Dell</li>
                <li>Acer</li>
              </ul>

              <div class="header-item-with-image">
                <p>HP ZBook Power G11</p>
                <img src="../static/images/HP-ZBook-Power-G11.webp" alt="" />
              </div>

              <div class="header-item-with-image">
                <p>MSI Gaming Laptops</p>
                <img src="../static/images/MSI-gaming-laptops.webp" alt="" />
              </div>

              <div class="header-item-with-image">
                <p>HP EliteBooks</p>
                <img src="../static/images/hp-elitebook.webp" alt="" />
              </div>
            </div>
          </li>

          <li class="header-item">
            PC Components

            <div class="header-item-hover">
              <ul class="header-item-list">
                <li>Graphics Cards</li>
                <li>Nvidia Geforce Graphics Card</li>
                <li>AMD Radeon Graphics Card</li>
                <li>Workstation Graphics Card</li>
                <li>Accessories</li>
              </ul>

              <ul class="header-item-list">
                <li>CPUs/Processors</li>
                <li>AMD CPUs/Processors</li>
                <li>Intel CPUs/Processors</li>
                <li>Server CPUs/Processors</li>
              </ul>

              <ul class="header-item-list">
                <li>Motherboards</li>
                <li>AMD Motherboards</li>
                <li>Intel Motherboards</li>
                <li>Server Motherboards</li>
                <li>Workstation Motherboards</li>
              </ul>

              <ul class="header-item-list">
                <li>Cases/Chasis</li>
                <li>PC Cases</li>
                <li>Server Cases</li>
              </ul>

              <ul class="header-item-list">
                <li>Memory/RAM</li>
                <li>Desktop Memory</li>
                <li>Laptop Memory</li>
                <li>Server Memory</li>
              </ul>

              <ul class="header-item-list">
                <li>Power Supplies/PSU</li>
                <li>Power Supplies</li>
                <li>Sleeved Cables</li>
              </ul>

              <ul class="header-item-list">
                <li>Cooling</li>
                <li>CPU Air Coolers</li>
                <li>CPU AIO Watercoolers</li>
                <li>Custom Watercooling</li>
                <li>Thermal Compund</li>
                <li>Case Fans</li>
              </ul>

              <ul class="header-item-list">
                <li>Storage</li>
                <li>Solid State Drives</li>
                <li>Hard Drives</li>
                <li>Optical Drives</li>
              </ul>
            </div>
          </li>

          <li class="header-item">
            Peripherals

            <div class="header-item-hover">
              <ul class="header-item-list">
                <li>Monitors</li>
                <li>Gaming</li>
                <li>Home & Office</li>
                <li>Professional</li>
                <li>Arms & Stands</li>
              </ul>

              <ul class="header-item-list">
                <li>Mice</li>
                <li>Gaming</li>
                <li>Office & Workflow</li>
                <li>Mouse Pads</li>
              </ul>

              <ul class="header-item-list">
                <li>Keyboards</li>
                <li>Gaming</li>
                <li>Home & Office</li>
                <li>Mechanical Keyboards</li>
                <li>DIY Parts & accessories</li>
              </ul>

              <ul class="header-item-list">
                <li>Simulator & Controllers</li>
                <li>Racing Controls</li>
                <li>Flight Controls</li>
                <li>Cockpits & Stands</li>
                <li>Motion & Haptic</li>
              </ul>

              <ul class="header-item-list">
                <li>Audio & Streaming</li>
                <li>Gaming Headsets</li>
                <li>Microphones</li>
                <li>Webcams</li>
                <li>Conference Cams</li>
                <li>Streaming Cams</li>
                <li>Gaming Speakers</li>
              </ul>

              <ul class="header-item-list">
                <li>External Storage</li>
                <li>Hard Drive & SSDs</li>
                <li>Flash Drives</li>
                <li>Memory Cards</li>
              </ul>

              <ul class="header-item-list">
                <li>Netwokings</li>
                <li>Routers</li>
                <li>Switches</li>
                <li>NAS</li>
                <li>Adapters & Access Points</li>
                <li>Security Cameras & Softwares</li>
                <li>Cables & Accessories</li>
              </ul>

              <ul class="header-item-list">
                <li>Furniture</li>
                <li>Gaming Chairs</li>
                <li>Home & Office Chairs</li>
                <li>Desks</li>
              </ul>

              <ul class="header-item-list">
                <li>Power & Lighting</li>
                <li>Cable & Adaptors</li>
                <li>Power Banks & Charging</li>
                <li>Surge Protectors</li>
                <li>Smart/LED Lighting</li>
                <li>UPS</li>
              </ul>

              <ul class="header-item-list">
                <li>Printers</li>
                <li>Inkjet Printers</li>
                <li>Laser Printers</li>
                <li>Ink & Toner</li>
              </ul>
            </div>
          </li>

          <li class="header-item">Audio</li>

          <li class="header-item">New Arrival</li>

          <li class="header-item">Specials</li>
        </ul>
      </div>
    </header>

    <body></body>
  </body>
</html>
