<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <title>Login | Galact</title>
  </head>
  <body>
    <!-- ================= HERO ================= -->

    <section class="hero">
      <div class="diagonal-hero-bg"></div>

      <div class="hero-content">
        <h1>LOGIN</h1>

        <p>
          Login or create an account!
        </p>
      </div>
    </section>

    <div class="login-box">
      <div class="login-header">
      </div>
      <div class="input-box">
        <input
          type="text"
          class="input-field"
          placeholder="Email"
          autocomplete="off"
          required
        />
      </div>
      <div class="input-box">
        <input
          type="password"
          class="input-field"
          placeholder="Password"
          autocomplete="off"
          required
        />
      </div>
      <div class="forgot">
        <section>
          <input type="checkbox" id="check" />
          <label for="check">Remember me</label>
        </section>
        <section>
          <a href="#">Forgot password</a>
        </section>
      </div>
      <div class="input-submit">
        <button class="submit-btn" id="submit"></button>
        <label for="submit">Sign In</label>
      </div>
      <div class="sign-up-link">
        <p>Don't have account? <a href="#">Sign Up</a></p>
      </div>
    </div>
  </body>
</html>
