<script src="https://www.paypal.com/sdk/js?client-id=Afk2Kw_C5TqguBDKkSKVfCCHWjI4sN4JA60RJljMcvWv7NJOIlKJhdH0RgWiBbPQtUWoSJlCFZixsoSg&currency=NZD"></script>

<div id="paypal-button-container">hello</div>

<script>
  paypal
    .Buttons({
      createOrder: async () => {
        const response = await fetch("/create-order", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            amount: 25.99,
          }),
        });

        const order = await response.json();

        console.log(order);

        return order.id;
      },

      onApprove: async (data) => {
        const response = await fetch(`/capture-order/${data.orderID}`, {
          method: "POST",
        });

        const result = await response.json();
        console.log(result);
      },
    })
    .render("#paypal-button-container");
</script>
