<!-- If clicked on the Profiles Sidebar, Dashboard will show, connected to profile.js
 which checks what button is clicked on the sidebar -->

<!-- ======== START HEAD ======== -->
<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="../../static/css/global.css" />
  <link rel="stylesheet" href="../../static/css/dashboard.css" />
</head>
<!-- ======== END HEAD ======== -->

<!-- ======== START MAIN CONTENT ======== -->

<div class="main-content-layout">
  <div class="dashboard">
    <h1>Dashboard</h1>
    <hr class="solid" />

    <!-- ======== PROFILE DETAILS ======== -->
    <div class="dashboard-grid">
      <section class="dash-card profile-card">
        <h2>Profile Details</h2>
        <p><strong>Username:</strong> {{customer[0] }}</p>
        <p><strong>Email:</strong> {{customer[1] }}</p>
        <p><strong>Phone:</strong> {{customer[9] }}</p>
        <a href="#" class="dash-link" id="view_profile">View Profile</a>
      </section>

      <!-- ======== SHIPPING DETAILS ======== -->
      <section class="dash-card">
        <h2>Shipping Details</h2>
        <p><strong>Name:</strong> {{customer[5] }}</p>
        <p><strong>Address:</strong> {{customer[6] }}</p>
        <p><strong>City:</strong> {{customer[7] }}</p>
        <p><strong>Postcode:</strong> {{customer[8] }}</p>
        <a href="#" class="dash-link" id="view_shipping">Edit Shipping</a>
      </section>

      <!-- ======== RECENT ORDER DETAILS ======== -->
      <section class="dash-card wide-card">
        <h2>Recent Orders</h2>

        <div id="dash-recent-orders-container">
          <p class="dash-empty-msg">Loading your recent orders...</p>
        </div>

        <a href="#" class="dash-link" id="view-all-orders">View All Orders</a>
      </section>

      <!-- ======== WISHLIST DETAILS ======== -->
      <section class="dash-card">
        <h2>Wishlist</h2>
        <p>
          You currently have
          <span class="dash-wishlist-count-val">0</span> item(s) saved.
        </p>

        <div class="dash-wishlist-items"></div>

        <a href="#" class="dash-link" id="view_wishlist">View Wishlist</a>
      </section>

      <!-- ======== SETTINGS DETAILS ======== -->
      <section class="dash-card">
        <h2>Settings</h2>
        <p>Manage your account, password and preferences.</p>
        <a href="#" class="dash-link" id="view_settings">Account Settings</a>
      </section>
    </div>
  </div>
</div>

<!-- ======== END MAIN CONTENT ======== -->
