<!-- If clicked on the Profiles Sidebar, Profile will show -->
<head>
  <link rel="stylesheet" href="../static/css/profile2.css" />
</head>

<div class="main-content-layout">
  <div class="profile">
    <h1>Profile</h1>
    <hr class="solid" />
    <br />
    <br />
    <h3>Username: {{session['username'] }}</h3>
    <!-- Will display users Username from DB -->
    <br />
    <h3>Email: {{session['email'] }}</h3>
    <!-- Not working for now - Will display users Email from DB -->
    <br />
    <h3>Phone: {{session['phone'] }}</h3>
    <!-- Not working for now - Will display users Phone No. from DB -->
    <br />
  </div>
</div>
